.section_download {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
@media screen and (max-width: 875px) {
  .section_download {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}
